@model ListaPaginada<fsbr_desafio.Models.Processo>

@{
    ViewData["Title"] = "Processos";
    Processo modelo = null;
}

<h1>Processos</h1>

<p>
    <a asp-action="Criar">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => modelo.Npu)</th>
            <th>@Html.DisplayNameFor(model => modelo.DataDeCadastro)</th>
            <th>@Html.DisplayNameFor(model => modelo.Uf)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Npu)</td>
            <td>@Html.DisplayFor(modelItem => item.DataDeCadastro)</td>
            <td>@Html.DisplayFor(modelItem => item.Uf)</td>
            <td>
                <a asp-action="Editar" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Detalhes" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Excluir" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
